@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,700,300italic,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Fira+Mono:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

elements-of-type(html5-block) {
  display: block;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 960px) {
  html {
    font-size: 14.4px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12.8px;
  }
}

section, aside, div, article, footer, header, nav, address {
  display: block;
}

body {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #4d4d4d;
}

@media (max-width: 960px) {
  body {
    font-size: 14.4px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 12.8px;
  }
}

h1 {
  font-size: 64px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 1;
  font-weight: 300;
}

@media (max-width: 960px) {
  h1 {
    font-size: 57.6px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 51.2px;
  }
}

h2 {
  font-size: 48px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 1;
  font-weight: 300;
}

@media (max-width: 960px) {
  h2 {
    font-size: 43.2px;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 38.4px;
  }
}

h3 {
  font-size: 32px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 1;
  font-weight: 300;
}

@media (max-width: 960px) {
  h3 {
    font-size: 28.8px;
  }
}

@media (max-width: 600px) {
  h3 {
    font-size: 25.6px;
  }
}

h4 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 700;
}

@media (max-width: 960px) {
  h4 {
    font-size: 14.4px;
  }
}

@media (max-width: 600px) {
  h4 {
    font-size: 12.8px;
  }
}

h5 {
  font-size: 14.4px;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 960px) {
  h5 {
    font-size: 12.96px;
  }
}

@media (max-width: 600px) {
  h5 {
    font-size: 11.52px;
  }
}

h6 {
  font-size: 12.8px;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 960px) {
  h6 {
    font-size: 11.52px;
  }
}

@media (max-width: 600px) {
  h6 {
    font-size: 10.24px;
  }
}

hgroup {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}

blockquote {
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-style: italic;
  padding: 1rem 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #cccccc;
}

blockquote p:last-child {
  margin-bottom: 0rem;
}

hr {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 50%;
  padding: 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #cccccc;
}

a:link {
  color: #1586d1;
  text-decoration: underline;
}

a:visited {
  color: #7454c9;
}

a:hover {
  color: #cc0011;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a:active {
  color: #f7d118;
}

h1 a, h1 a:link, h1 a:visited, h2 a, h2 a:link, h2 a:visited, h3 a, h3 a:link, h3 a:visited, h4 a, h4 a:link, h4 a:visited, h5 a, h5 a:link, h5 a:visited, h6 a, h6 a:link, h6 a:visited {
  color: inherit;
  text-decoration: none;
}

a.button {
  padding: 0.5rem 1rem;
  background: #1586d1;
  color: white;
  text-decoration: none;
  border: none;
  display: inline-block;
}

a.button:hover {
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

a.button-hot {
  padding: 0.5rem 1rem;
  background: #e03eb7;
  color: white;
  text-decoration: none;
  border: none;
  display: inline-block;
}

a.button-hot:hover {
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

a.button-cool {
  padding: 0.5rem 1rem;
  background: #b3b3b3;
  color: white;
  text-decoration: none;
  border: none;
  display: inline-block;
}

a.button-cool:hover {
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

strong, b, dfn, var {
  font-weight: 700;
}

em, i, cite, q {
  font-style: italic;
}

u, ins {
  text-decoration: underline;
}

del, s {
  text-decoration: line-through;
}

small, sup, sub {
  font-size: 11.2px;
}

@media (max-width: 960px) {
  small, sup, sub {
    font-size: 10.08px;
  }
}

@media (max-width: 600px) {
  small, sup, sub {
    font-size: 8.96px;
  }
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

kbd, code, samp {
  font-family: "Fira Mono", monospace;
}

mark {
  background: #fcefab;
}

ul, ol {
  margin-bottom: 1rem;
  margin-left: 3rem;
}

ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

table {
  border: 1px solid #b3b3b3;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

tr {
  border-bottom: 1px solid #cccccc;
}

td, th {
  padding: 0.5rem;
  vertical-align: top;
  text-align: left;
}

th {
  font-weight: 700;
}

thead, tfoot {
  background-color: #f2f2f2;
}

form ul {
  list-style-type: none;
  margin: 0;
}

fieldset {
  display: block;
  border: 1px solid #cccccc;
  background: #f2f2f2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0.5rem;
}

legend {
  margin-left: 1rem;
  padding: 0 0.5rem;
  font-weight: 700;
}

label {
  display: block;
  font-weight: 700;
}

.field-container {
  margin-bottom: 0.5rem;
}

input, textarea, select, option {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=search],
input[type=number],
input[type=color],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local] {
  color: #4d4d4d;
  width: 90%;
  padding: 0.3333333333rem;
}

@media (min-width: 960px) {
  input[type=text],
  input[type=password],
  input[type=url],
  input[type=email],
  input[type=search],
  input[type=number],
  input[type=color],
  input[type=date],
  input[type=month],
  input[type=week],
  input[type=datetime],
  input[type=datetime-local] {
    max-width: 50%;
  }
}

input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=color]::-webkit-input-placeholder,
input[type=date]::-webkit-input-placeholder,
input[type=month]::-webkit-input-placeholder,
input[type=week]::-webkit-input-placeholder,
input[type=datetime]::-webkit-input-placeholder,
input[type=datetime-local]::-webkit-input-placeholder {
  color: #b3b3b3;
}

input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=url]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=number]:-moz-placeholder,
input[type=color]:-moz-placeholder,
input[type=date]:-moz-placeholder,
input[type=month]:-moz-placeholder,
input[type=week]:-moz-placeholder,
input[type=datetime]:-moz-placeholder,
input[type=datetime-local]:-moz-placeholder {
  color: #b3b3b3;
  opacity: 1;
}

input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=color]::-moz-placeholder,
input[type=date]::-moz-placeholder,
input[type=month]::-moz-placeholder,
input[type=week]::-moz-placeholder,
input[type=datetime]::-moz-placeholder,
input[type=datetime-local]::-moz-placeholder {
  color: #b3b3b3;
  opacity: 1;
}

input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=color]:-ms-input-placeholder,
input[type=date]:-ms-input-placeholder,
input[type=month]:-ms-input-placeholder,
input[type=week]:-ms-input-placeholder,
input[type=datetime]:-ms-input-placeholder,
input[type=datetime-local]:-ms-input-placeholder {
  color: #b3b3b3;
}

input[type=submit], input[type=button], input[type=reset], button {
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  padding: 0.5rem 1rem;
  background: #b3b3b3;
  color: white;
  text-decoration: none;
  border: none;
  display: inline-block;
  margin: 0;
}

@media (max-width: 960px) {
  input[type=submit], input[type=button], input[type=reset], button {
    font-size: 14.4px;
  }
}

@media (max-width: 600px) {
  input[type=submit], input[type=button], input[type=reset], button {
    font-size: 12.8px;
  }
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, button:hover {
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

input[type=submit] {
  background-color: #1586d1;
}

input[type=reset] {
  background-color: #cccccc;
}

*[title='Required'], .required {
  color: #cc0011;
}

.is-error {
  border: 2px solid #cc0011;
  background: rgba(204, 0, 17, 0.05);
}

.is-error::-webkit-input-placeholder {
  color: #cc0011;
}

.is-error:-moz-placeholder {
  color: #cc0011;
  opacity: 1;
}

.is-error::-moz-placeholder {
  color: #cc0011;
  opacity: 1;
}

.is-error:-ms-input-placeholder {
  color: #cc0011;
}

label.error {
  color: #cc0011;
}

.is-valid {
  border: 2px solid #7da300;
  background: rgba(125, 163, 0, 0.05);
}

.is-valid::-webkit-input-placeholder {
  color: #7da300;
}

.is-valid:-moz-placeholder {
  color: #7da300;
  opacity: 1;
}

.is-valid::-moz-placeholder {
  color: #7da300;
  opacity: 1;
}

.is-valid:-ms-input-placeholder {
  color: #7da300;
}

label.valid {
  color: #7da300;
}

.options label {
  font-weight: 400;
}

.layout-inner-wrapper {
  padding: 0 1rem;
}

@media (min-width: 960px) {
  .layout-inner-wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0;
  }
  .layout-inner-wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.styleguide-color {
  background: black;
  color: white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-bottom: 2px;
  width: 50%;
}

.bg-red {
  background: #cc0011;
}

.fg-red {
  color: #cc0011;
}

.bg-orange {
  background: #e65c00;
}

.fg-orange {
  color: #e65c00;
}

.bg-yellow {
  background: #f7d118;
}

.fg-yellow {
  color: #f7d118;
}

.bg-sage {
  background: #dbf075;
}

.fg-sage {
  color: #dbf075;
}

.bg-green {
  background: #7da300;
}

.fg-green {
  color: #7da300;
}

.bg-teal {
  background: #03b594;
}

.fg-teal {
  color: #03b594;
}

.bg-sky {
  background: #71e9f4;
}

.fg-sky {
  color: #71e9f4;
}

.bg-blue {
  background: #1586d1;
}

.fg-blue {
  color: #1586d1;
}

.bg-purple {
  background: #7454c9;
}

.fg-purple {
  color: #7454c9;
}

.bg-pink {
  background: #e03eb7;
}

.fg-pink {
  color: #e03eb7;
}

.bg-brown {
  background: #895629;
}

.fg-brown {
  color: #895629;
}

.bg-black {
  background: black;
}

.fg-black {
  color: black;
}

.bg-gray-1 {
  background: #1a1a1a;
}

.fg-gray-1 {
  color: #1a1a1a;
}

.bg-gray-2 {
  background: #333333;
}

.fg-gray-2 {
  color: #333333;
}

.bg-gray-3 {
  background: #4d4d4d;
}

.fg-gray-3 {
  color: #4d4d4d;
}

.bg-gray-4 {
  background: #666666;
}

.fg-gray-4 {
  color: #666666;
}

.bg-gray-5 {
  background: gray;
}

.fg-gray-5 {
  color: gray;
}

.bg-gray-6 {
  background: #999999;
}

.fg-gray-6 {
  color: #999999;
}

.bg-gray-7 {
  background: #b3b3b3;
}

.fg-gray-7 {
  color: #b3b3b3;
}

.bg-gray-8 {
  background: #cccccc;
}

.fg-gray-8 {
  color: #cccccc;
}

.bg-gray-9 {
  background: #e6e6e6;
}

.fg-gray-9 {
  color: #e6e6e6;
}

.bg-gray-95 {
  background: #f2f2f2;
}

.fg-gray-95 {
  color: #f2f2f2;
}

.bg-white {
  background: white;
}

.fg-white {
  color: white;
}

.bg-body-color {
  background: #4d4d4d;
}

.fg-body-color {
  color: #4d4d4d;
}

.bg-sottovoce {
  background: gray;
}

.fg-sottovoce {
  color: gray;
}

.bg-hushed {
  background: #b3b3b3;
}

.fg-hushed {
  color: #b3b3b3;
}

.bg-whisper {
  background: #cccccc;
}

.fg-whisper {
  color: #cccccc;
}

.bg-silent {
  background: #f2f2f2;
}

.fg-silent {
  color: #f2f2f2;
}

.bg-emphasis {
  background: #e03eb7;
}

.fg-emphasis {
  color: #e03eb7;
}

.bg-danger {
  background: #cc0011;
}

.fg-danger {
  color: #cc0011;
}

.bg-warning {
  background: #e65c00;
}

.fg-warning {
  color: #e65c00;
}

.bg-success {
  background: #7da300;
}

.fg-success {
  color: #7da300;
}

.bg-info {
  background: #1586d1;
}

.fg-info {
  color: #1586d1;
}

.bg-highlight {
  background: #fcefab;
}

.fg-highlight {
  color: #fcefab;
}

.bg-hero {
  background: #03b594;
}

.fg-hero {
  color: #03b594;
}

/*# sourceMappingURL=screen.css.map */