// # Base # //

// ## Block-level HTML elements ## //
html {
    font-size: $base-font-size;
    @include breakpoint($mobile) {
        font-size: $desktop-font-size;
    }
    -webkit-text-size-adjust: 100%; // Prevent font scaling in landscape while allowing user zoom
    // primitive color css variables
    @each $name, $color in $color-primitives {
        --#{$name}: #{$color};
    }
    // primitive gray css variables
    @each $name, $color in $gray-primitives {
        --#{$name}: #{$color};
    }
    // light abstract css variables
    --background-color: #{$white};
    --body-color:       #{$gray-2};
    --sottovoce:        #{$gray-4};
    --hushed:           #{$gray-6};
    --whisper:          #{$gray-8};
    --quiet:            #{$gray-9};
    --silent:           #{$gray-95};
    --emphasis:         #{$pink};
    --danger:           #{$red};
    --warning:          #{$orange};
    --success:          #{$green};
    --info:             #{$blue};
    --highlight:        #{lighten($yellow, 30%)};
    --hero:             #{$teal};
    --link-unvisited:   #{$blue};
    --link-visited:     #{$purple};
    --link-hover:       #{$red};
    --link-active:      #{$yellow};
}
@media (prefers-color-scheme: dark) {
    html {
        --background-color: #{$gray-1};
        --body-color:       #{$gray-9};
        --sottovoce:        #{$gray-6};
        --hushed:           #{$gray-5};
        --whisper:          #{$gray-4};
        --quiet:            #{$gray-3};
        --silent:           #{$gray-2};
        --emphasis:         #{$pink};
        --danger:           #{$red};
        --warning:          #{$orange};
        --success:          #{$green};
        --info:             #{$blue};
        --highlight:        #{lighten($yellow, 30%)};
        --hero:             #{$teal};
        --link-unvisited:   #{$blue};
        --link-visited:     #{$purple};
        --link-hover:       #{$red};
        --link-active:      #{$yellow};
    }
}
section, aside, div, article, footer, header, nav, address { // IMPORTANT: do not add layout or styling to these base elements
    display: block;
} 
body {
    background-color: var(--background-color);
    color: var(--body-color);
    font-family: $default-font;
    line-height: $base-line-height;
    font-size: 1rem;
}
h1 {
    @include bigheader;
    font-size: 4rem;
}
h2 {
    @include bigheader;
    font-size: 3rem;
}
h3 {
    @include bigheader;
    font-size: 2rem;
}
h4 {
    font-weight: $bold-weight;
    @include mediumheader;
    font-size: 1rem;
}
h5 {
    font-size: 0.9rem;
    @include weeheader;
}
h6 {
    font-size: 0.8rem;
    @include weeheader;
}
hgroup {
    margin-bottom: $vgutter * 2;
}
p {
    margin-bottom: $vgutter * 1;
}
blockquote {
    border-color: var(--whisper);
    border-style: solid;
    border-width: 1px 0;
    font-style: italic;
    margin-bottom: $vgutter * 2;
    margin-left: $vgutter * 3;
    margin-top: $vgutter * 2;
    margin-right: $vgutter * 3;
    padding: $vgutter 0;
    & p:last-child {
        margin-bottom: 0;
    }
}
hr {
    border-color: var(--whisper);
    border-style: solid;
    border-width: 0 0 $border-width 0;
    margin-bottom: $vgutter * 1.5;
    margin-top: $vgutter * 1.5;
    padding: 0;
    width: 50%;
}


// ## Inline HTML elements ## //

// ### Links ### //
a {
    &:link {
        color: var(--link-unvisited);
        text-decoration: underline;
    }
    &:visited {
        color: var(--link-visited);
    }
    &:hover {
        color: var(--link-hover);
        transition: $transition;
    }
    &:active {
        color: var(--link-active);
    }
}

h1, h2, h3, h4, h5, h6 {
    a, a:link, a:visited {
        color: inherit;
        text-decoration: none;
    }
}

// #### Buttons #### //
a.button {
    @include make-button(var(--link-unvisited));
}
a.button-hot {
    @include make-button(var(--emphasis));
}
a.button-cool {
    @include make-button(var(--hushed));
}

// ### bold things ### //
strong, b, dfn, var {
    font-weight: $bold-weight;
}
// ### italic things ### //
em, i, cite, q {
    font-style: italic;
}
// ### underlined things ### //
u, ins {
    text-decoration: underline;
}
// ### line-through things ### //
del, s {
    text-decoration: line-through;
}
// ### small things ### //
small, sup, sub {
    font-size: 0.7rem;
}
// ### big things ### //
big {
    font-size: 1.4rem;
}
// ### baseline-adjusted things ### //
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}
// ### monospace things ### //
kbd, code, samp {
    font-family: $monospace-font;
}
// ### crazy misc inline elements ### //
abbr {}
dfn {}
mark {
    background: var(--highlight);
}
var {}


// ## Lists ## //
ul, ol {
    margin-bottom: $vgutter;
    margin-left: $hgutter*3;
    & ul, & ol {
        margin-bottom: 0;
    }
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}

// ## Tables ## //
// Data tables only!
table {
    border: 1px solid var(--hushed);
    margin-bottom: $vgutter * 2;
    margin-top: $vgutter * 2;
}
tr {
    border-bottom: 1px solid var(--whisper);
}
td, th {
    padding: $vgutter * 0.5;
    text-align: left;
    vertical-align: top;
}
th {
    font-weight: $bold-weight;
}
thead, tfoot {
    background-color: var(--silent);
}

// ## Images ## //
img {}
.responsive-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}


// ## Forms ## //
form {} // IMPORTANT: do not add layout or styling to <form>!
form ul {
    list-style-type: none;
    margin: 0;
}
fieldset {
    background-color: var(--silent);
    border: 1px solid var(--whisper);
    display: block;
    margin-bottom: $vgutter * 2;
    margin-top: $vgutter * 2;
    padding: $vgutter * 0.5;
}
legend {
    font-weight: $bold-weight;
    padding: 0 ($hgutter * 0.5);
    margin-left: $hgutter;
}
label {
    display: block;
    font-weight: $bold-weight;
}
.field-container {
    margin-bottom: $vgutter * 0.5;
}
input {
    // reset appearance on iphones
    //-webkit-appearance: none;
    //-moz-appearance: none;
    //appearance: none;
    border: 1px solid var(--whisper);
    background: $white;
}
input, textarea, select, option {
    font-family: $default-font;
    font-size: 1rem;
    padding: $vgutter $hgutter;
    color: var(--body-color);
    background-color: var(--background-color);
    border-radius: $border-radius;
    box-shadow: 0 0 0;
    box-sizing: border-box;
}
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=search],
input[type=number],
input[type=color],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
{
    //background-color: $white;
    border-color: var(--whisper);
    border-radius: $border-radius;
    border-width: $border-width;
    color: var(--body-color);
    padding: math.div($hgutter, 3);
    width: 90%;
    @include breakpoint($desktop) {
        max-width: 50%;
    }
    @include input-placeholder {
        color: var(--hushed);
    }
}
input[type=submit], input[type=button], input[type=reset], button {
    font-family: $default-font;
    margin: 0;
    font-size: 1rem;
    @include make-button;
}
input[type=submit] {
    background-color: var(--link-unvisited);
}
input[type=reset] {
    background-color: var(--whisper);
}
*[title='Required'], .required {
    color: var(--danger);
}
.is-error {
    // background-color: transparentize($danger, 0.95); // TODO
    border: 2px solid var(--danger);
    @include input-placeholder {
        color: var(--danger);
    }
}
label.error {
    color: var(--danger);
}
.is-valid {
    // background-color: transparentize($success, 0.95); // TODO
    border: 2px solid var(--success);
    @include input-placeholder {
        color: var(--success);
    }
}
label.valid {
    color: var(--success);
}
.options { // fieldsets containing checkboxes & radio boxes
    label {
        font-weight: $normal-weight;
    }
}

