// Block-level HTML elements
*:focus, *:focus-visible {
    outline-color: var(--whisper);
    outline-style: solid;
    outline-width: 2px;
}
html {
    font-size: $base-font-size;
    @include breakpoint($mobile) {
        font-size: $desktop-font-size;
    }
    // primitive color css variables
    @each $name, $color in $color-primitives {
        --#{$name}: #{$color};
    }
    // primitive gray css variables
    @each $name, $color in $gray-primitives {
        --#{$name}: #{$color};
    }
    // light abstract css variables
    @each $name, $color in $abstract-colors-light {
        --#{$name}: #{$color};
    }
}
@media (prefers-color-scheme: dark) {
    html {
        // dark abstract css variables
        @each $name, $color in $abstract-colors-dark {
            --#{$name}: #{$color};
        }
    }
}
section, aside, div, article, footer, header, nav, address { 
    // IMPORTANT: do not add layout or styling to these base elements
    display: block;
} 
body {
    background-color: var(--silent);
    color: var(--loud);
    font-family: $default-font;
    line-height: $base-line-height;
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: $bold-weight;
    margin-block-end: 1rem;
    margin-block-start: 1rem;
    small {
        font-size: inherit;
        font-weight: $light-weight;
    }
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.9rem;
}
h6 {
    font-size: 0.8rem;
}
hgroup {
    margin-block-end: 2rem;
}
p {
    margin-block-end: 1rem;
}
blockquote {
    border-color: var(--whisper);
    border-style: solid;
    border-width: 1px;
    color: var(--hushed);
    font-style: italic;
    margin-block-end: 2rem;
    margin-block-start: 2rem;
    margin-inline-end: 1rem;
    margin-inline-start: 1rem;
    padding: 1rem;
    & p:last-child {
        margin-block-end: 0;
    }
}
hr {
    border-color: var(--whisper);
    border-style: solid;
    border-width: 0 0 $border-width 0;
    margin-block-end: 1.5rem;
    margin-block-start: 1.5rem;
    padding: 0;
}


// Inline HTML elements

// Links
a {
    &:link {
        color: var(--link-unvisited);
        text-decoration: underline;
    }
    &:visited {
        color: var(--link-visited);
    }
    &:hover {
        color: var(--link-hover);
        transition: $transition;
    }
    &:active {
        color: var(--link-active);
    }
}

h1, h2, h3, h4, h5, h6 {
    a, a:link, a:visited {
        color: inherit;
    }
}

// Buttons
a.button {
    @include make-button(var(--link-unvisited));
}
a.button-hot {
    @include make-button(var(--emphasis));
}
a.button-cool {
    @include make-button(var(--hushed));
}

// ### bold things ### //
strong, b, dfn, var {
    font-weight: $bold-weight;
}
// ### italic things ### //
em, i, cite, q {
    font-style: italic;
}
// ### underlined things ### //
u, ins {
    text-decoration: underline;
}
// ### line-through things ### //
del, s {
    text-decoration: line-through;
}
// ### small things ### //
small, sup, sub {
    font-size: 80%;
}
// ### big things ### //
big {
    font-size: 1.4rem;
}
// ### baseline-adjusted things ### //
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}
// ### monospace things ### //
kbd, code, samp {
    font-family: $monospace-font;
}
// ### crazy misc inline elements ### //
abbr {}
dfn {}
mark {
    background: var(--highlight);
}
var {}


// ## Lists ## //
ul, ol {
    margin-block-end: 1rem;
    margin-inline-start: 3rem;
    & ul, & ol {
        margin-block-end: 0;
    }
}
ul {
    list-style-type: disc;
}
ol {
    counter-reset: revert;
    // fixes a bug with all: unset in FF
    // see  https://github.com/elad2412/the-new-css-reset/issues/75
    list-style-type: auto;
}
dl {
    margin-block-end: 1rem;
}
dt {
    font-weight: $bold-weight;
    margin-block-start: 2rem;
    margin-block-end: 0.5rem;
}
dd {
    margin-block-end: 1rem;
    margin-inline-start: 1rem;
}


// ## Tables ## //
// Data tables only!
table {
    border: 1px solid var(--hushed);
    margin-block-end: 2rem;
    margin-block-start: 2rem;
    &.borderless {
        &, tr {
            border: none;
        }
    }
}
tr {
    border-block-end: 1px solid var(--whisper);
}
td, th {
    padding: 0.5rem;
    text-align: left;
    vertical-align: top;
}
th {
    font-weight: $bold-weight;
}
thead, tfoot {
    background-color: var(--quiet);
}

// ## Images ## //
img {}
.responsive-image {
    display: block;
    margin-inline-end: auto;
    margin-inline-start: auto;
    max-width: 100%;
}


