// Block-level HTML elements
*:focus, *:focus-visible {
    outline-color: var(--whisper);
    outline-style: solid;
    outline-width: 2px;
}
html {
    font-size: $base-font-size;
    @include breakpoint($mobile) {
        font-size: $desktop-font-size;
    }
    // primitive color css variables
    @each $name, $color in $color-primitives {
        --#{$name}: #{$color};
    }
    // primitive gray css variables
    @each $name, $color in $gray-primitives {
        --#{$name}: #{$color};
    }
    // light abstract css variables
    @each $name, $color in $abstract-colors-light {
        --#{$name}: #{$color};
    }
}
@media (prefers-color-scheme: dark) {
    html {
        // dark abstract css variables
        @each $name, $color in $abstract-colors-dark {
            --#{$name}: #{$color};
        }
    }
}
section, aside, div, article, footer, header, nav, address { 
    // IMPORTANT: do not add layout or styling to these base elements
    display: block;
} 
body {
    background-color: var(--silent);
    color: var(--loud);
    font-family: $default-font;
    line-height: $base-line-height;
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: $bold-weight;
    margin-block-end: 1rem;
    margin-block-start: 1rem;
    small {
        font-size: inherit;
        font-weight: $light-weight;
    }
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.9rem;
}
h6 {
    font-size: 0.8rem;
}
hgroup {
    margin-block-end: 2rem;
}
p {
    margin-block-end: 1rem;
}
blockquote {
    border-color: var(--whisper);
    border-style: solid;
    border-width: 1px;
    color: var(--hushed);
    font-style: italic;
    margin-block-end: 2rem;
    margin-block-start: 2rem;
    margin-inline-end: 1rem;
    margin-inline-start: 1rem;
    padding: 1rem;
    & p:last-child {
        margin-block-end: 0;
    }
}
hr {
    border-color: var(--whisper);
    border-style: solid;
    border-width: 0 0 $border-width 0;
    margin-block-end: 1.5rem;
    margin-block-start: 1.5rem;
    padding: 0;
}


// Inline HTML elements

// Links
a {
    &:link {
        color: var(--link-unvisited);
        text-decoration: underline;
    }
    &:visited {
        color: var(--link-visited);
    }
    &:hover {
        color: var(--link-hover);
        transition: $transition;
    }
    &:active {
        color: var(--link-active);
    }
}

h1, h2, h3, h4, h5, h6 {
    a, a:link, a:visited {
        color: inherit;
    }
}

// Buttons
a.button {
    @include make-button(var(--link-unvisited));
}
a.button-hot {
    @include make-button(var(--emphasis));
}
a.button-cool {
    @include make-button(var(--hushed));
}

// ### bold things ### //
strong, b, dfn, var {
    font-weight: $bold-weight;
}
// ### italic things ### //
em, i, cite, q {
    font-style: italic;
}
// ### underlined things ### //
u, ins {
    text-decoration: underline;
}
// ### line-through things ### //
del, s {
    text-decoration: line-through;
}
// ### small things ### //
small, sup, sub {
    font-size: 80%;
}
// ### big things ### //
big {
    font-size: 1.4rem;
}
// ### baseline-adjusted things ### //
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}
// ### monospace things ### //
kbd, code, samp {
    font-family: $monospace-font;
}
// ### crazy misc inline elements ### //
abbr {}
dfn {}
mark {
    background: var(--highlight);
}
var {}


// ## Lists ## //
ul, ol {
    margin-block-end: 1rem;
    margin-inline-start: 3rem;
    & ul, & ol {
        margin-block-end: 0;
    }
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}

// ## Tables ## //
// Data tables only!
table {
    border: 1px solid var(--hushed);
    margin-block-end: 2rem;
    margin-block-start: 2rem;
}
tr {
    border-block-end: 1px solid var(--whisper);
}
td, th {
    padding: 0.5rem;
    text-align: left;
    vertical-align: top;
}
th {
    font-weight: $bold-weight;
}
thead, tfoot {
    background-color: var(--quiet);
}

// ## Images ## //
img {}
.responsive-image {
    display: block;
    margin-inline-end: auto;
    margin-inline-start: auto;
    max-width: 100%;
}


// ## Forms ## //
form {} // IMPORTANT: do not add layout or styling to <form>!
form ul {
    list-style-type: none;
    margin: 0;
}
fieldset {
    background-color: var(--quiet);
    border: 1px solid var(--whisper);
    display: block;
    margin-block-end: 2rem;
    margin-block-start: 2rem;
    padding: 0.5rem;
}
legend {
    font-weight: $bold-weight;
    margin-inline-start: 1rem;
    padding: 0 0.5rem;
}
label {
    display: block;
    font-weight: $bold-weight;
}
.field-container {
    margin-block-end: 0.5rem;
}
input, textarea, select {
    background: $white;
    border: 1px solid var(--whisper);
}
input, textarea, select, option {
    background-color: var(--silent);
    border-radius: $border-radius;
    box-shadow: 0 0 0;
    box-sizing: border-box;
    color: var(--loud);
    font-family: $default-font;
    font-size: 1rem;
    padding: 1rem;
}
select, option {
    padding: 0.5rem;
}
select {
    appearance: none;
    background-color: var(--silent);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>"); // note color must be hand-filled
    background-origin: content-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 0.75rem 0.5rem;
}
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=search],
input[type=number],
input[type=color],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
{
    border-color: var(--hushed);
    border-radius: $border-radius;
    border-width: $border-width;
    color: var(--loud);
    padding: 0.3333rem;
    &::placeholder {
        color: var(--hushed);
    }
}
input[type=submit], input[type=button], input[type=reset], button {
    font-family: $default-font;
    font-size: 1rem;
    margin: 0;
    @include make-button;
}
input[type=submit] {
    background-color: var(--link-unvisited);
}
input[type=reset] {
    background-color: var(--whisper);
}
input[type=checkbox],
input[type=radio] {
    padding: 0.5rem;
    &:checked {
        background: var(--hushed);
    }
}
input[type=radio] {
    border-radius: 100%;
}
*[title='Required'], .required {
    color: var(--danger);
}
.is-error {
    border: 2px solid var(--danger) !important;
    &::placeholder {
        color: var(--danger);
    }
}
label.error {
    color: var(--danger);
}
.is-valid {
    border: 2px solid var(--success) !important;
    &::placeholder {
        color: var(--success);
    }
}
label.valid {
    color: var(--success);
}
.options { // fieldsets containing checkboxes & radio boxes
    label {
        font-weight: $normal-weight;
    }
}

