// ## fb! ## //
@mixin fb-container($wrap: false) {
    background-color: $gray-9;
    display: flex;
    padding: $vgutter $hgutter;
    @if $wrap {
        flex-wrap: wrap;
        min-height: 300px;
    }
}

// generic container
.fb {
    @include fb-container;
}
// flex-direction
.fb-1 {
    flex-direction: row; // horizontal, LTR
    @include fb-container;
}
.fb-2 {
    flex-direction: row-reverse; // horizontal, RTL
    @include fb-container;
}
.fb-3 {
    flex-direction: column; // vertical
    @include fb-container;
}
.fb-4 {
    flex-direction: column-reverse; // vertical, bottom to top
    @include fb-container;
}

// justify-content
.fb-5 {
    justify-content: flex-start;
    @include fb-container;
}
.fb-6 {
    justify-content: flex-end;
    @include fb-container;
}
.fb-7 {
    justify-content: center;
    @include fb-container;
}
.fb-8 {
    justify-content: space-between;
    @include fb-container;
}
.fb-9 {
    justify-content: space-around;
    @include fb-container;
}

// align-items
.fb-10 {
    align-items: flex-start;
    @include fb-container;
}
.fb-11 {
    align-items: flex-end;
    @include fb-container;
}
.fb-12 {
    align-items: center;
    @include fb-container;
}
.fb-13 {
    align-items: stretch;
    @include fb-container;
}
.fb-14 {
    align-items: baseline;
    @include fb-container;
}

// flex-wrap
.fb-15 {
    flex-wrap: nowrap;
    @include fb-container;
}
.fb-16 {
    flex-wrap: wrap;
    @include fb-container;
}
.fb-17 {
    flex-wrap: wrap-reverse;
    @include fb-container;
}

// align-content
.fb-18 {
    align-content: flex-start;
    @include fb-container(true);
}
.fb-19 {
    align-content: flex-end;
    @include fb-container(true);
}
.fb-20 {
    align-content: center;
    @include fb-container(true);
}
.fb-21 {
    align-content: stretch;
    @include fb-container(true);
}
.fb-22 {
    align-content: space-between;
    @include fb-container(true);
}
.fb-23 {
    align-content: space-around;
    @include fb-container(true);
}

// children
.fb-box {
    background-color: $gray-8;
    border: 1px solid $gray-6;
    display: block;
    padding: $vgutter $hgutter;
}
.fbb-1c {
    order: -1;
}
.fbb-2c {
    flex-grow: 1;
}
.fb-grow .fb-box {
    flex-grow: 1;
}
.fbb-2o {
    flex-grow: 3 !important;
}
.fbb-3i {
    flex-shrink: 3 !important;
}
.fb-shrink .fb-box {
    flex-basis: 20%;
}
.fbb-3o {
    flex-shrink: 3 !important;
}

