$static-path: '/static/fonts/';
$family-name: 'publicsans';
$weights: (
    700: bold,
    400: regular,
    300: light,
);
$format: 'woff2';


@each $weight, $name in $weights {
    @font-face {
        font-family: $family-name;
        src: url('/static/fonts/#{$family-name}-#{$name}.#{$format}');
        src: url('/static/fonts/#{$family-name}-#{$name}.#{$format}') format($format);
        font-weight: $weight; 
        font-style: normal;
    }
    @font-face {
        font-family: $family-name;
        src: url('/static/fonts/#{$family-name}-#{$name}-italic.#{$format}');
        src: url('/static/fonts/#{$family-name}-#{$name}-italic.#{$format}') format($format);
        font-weight: $weight; 
        font-style: italic;
    }
}

