$static-path: '/static/fonts/';
$family-name: 'IBMPlexSans';
$weights: (
    900: Black,
    800: ExtraBold,
    700: Bold,
    600: SemiBold,
    500: Medium,
    400: Regular,
    300: Light,
    200: ExtraLight,
    100: Thin,
);
$format: 'woff2';


@each $weight, $name in $weights {
    @font-face {
        font-family: $family-name;
        src: url('/static/fonts/#{$family-name}-#{$name}.#{$format}');
        src: url('/static/fonts/#{$family-name}-#{$name}.#{$format}') format($format);
        font-weight: $weight; 
        font-style: normal;
    }
    @font-face {
        font-family: $family-name;
        @if $name == 'Regular' {
            src: url('/static/fonts/#{$family-name}-Italic.#{$format}');
            src: url('/static/fonts/#{$family-name}-Italic.#{$format}') format($format);
        } @else {
            src: url('/static/fonts/#{$family-name}-#{$name}-Italic.#{$format}');
            src: url('/static/fonts/#{$family-name}-#{$name}-Italic.#{$format}') format($format);
        }
        font-weight: $weight; 
        font-style: italic;
    }
}

