// ## Forms ## //
form {} // IMPORTANT: do not add layout or styling to <form>!
form ul {
    list-style-type: none;
    margin: 0;
}
fieldset {
    background-color: var(--quiet);
    border: 1px solid var(--whisper);
    display: block;
    margin-block-end: 2rem;
    margin-block-start: 2rem;
    padding: 0.5rem;
}
legend {
    font-weight: $bold-weight;
    margin-inline-start: 1rem;
    padding: 0 0.5rem;
}
label {
    display: block;
    font-weight: $bold-weight;
}
.field-container {
    margin-block-end: 0.5rem;
}
input, textarea, select {
    background: $white;
    border: 1px solid var(--whisper);
}
input, textarea, select, option {
    background-color: var(--silent);
    border-radius: $border-radius;
    box-shadow: 0 0 0;
    box-sizing: border-box;
    color: var(--loud);
    font-family: $default-font;
    font-size: 1rem;
    padding: 1rem;
}
select, option {
    padding: 0.5rem;
}
select {
    appearance: none;
    background-color: var(--silent);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>"); // note color must be hand-filled
    background-origin: content-box;
    background-position: center right -1.5rem;
    background-repeat: no-repeat;
    background-size: 0.75rem 0.5rem;
    padding-inline-end: 2rem;

}
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=search],
input[type=number],
input[type=color],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
{
    border-color: var(--hushed);
    border-radius: $border-radius;
    border-width: $border-width;
    color: var(--loud);
    padding: 0.3333rem;
    &::placeholder {
        color: var(--hushed);
    }
}
input[type=color] {
    padding: 1px;
    height: 2rem;
    width: 2rem;
}
input[type=range] {
    -webkit-appearance: none; 
    width: 100%;  // ff?
    background: var(--silent); // for chrome
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid var(--hushed);
        height: 1rem;
        width: 1rem;
        border-radius: 100%;
        background: var(--whisper);
        margin-top: 0;
    }
    &::-moz-range-thumb {
    }
    &::-ms-thumb {
        width: 100%;
        cursor: pointer;
        background: transparent; 
        border-color: transparent;
        color: transparent;
    }
}
input[type=submit], input[type=button], input[type=reset], button {
    font-family: $default-font;
    font-size: 1rem;
    margin: 0;
    @include make-button;
}
input[type=submit] {
    background-color: var(--link-unvisited);
}
input[type=reset] {
    background-color: var(--whisper);
}
input[type=checkbox],
input[type=radio] {
    padding: 0.5rem;
    &:checked {
        background: var(--loud);
        border-color: var(--loud);
        box-shadow: inset 0 0 0 2px var(--silent);
    }
}
input[type=radio] {
    border-radius: 100%;
}
*[title='Required'], .required {
    color: var(--danger);
}
.is-error {
    border: 2px solid var(--danger) !important;
    &::placeholder {
        color: var(--danger);
    }
}
label.error {
    color: var(--danger);
}
.is-valid {
    border: 2px solid var(--success) !important;
    &::placeholder {
        color: var(--success);
    }
}
label.valid {
    color: var(--success);
}
.options { // fieldsets containing checkboxes & radio boxes
    label {
        font-weight: $normal-weight;
    }
}

