@use "lib";
@use "variables";

orm {} // IMPORTANT: do not add layout or styling to <form>!
form ul {
    list-style-type: none;
    margin: 0;
}
fieldset {
    background-color: var(--quiet);
    border-radius: var(--default-border-radius);
    display: block;
    margin-block-end: 2rem;
    margin-block-start: 2rem;
    padding: 1rem;
}
legend {
    background-color: transparent;
    border: none;
    border-radius: var(--default-border-radius);
    font-weight: var(--bold-weight);
    margin-inline-start: 0;
    padding: 0.25rem 1rem;
}
label {
    display: block;
    font-weight: var(--bold-weight);
}
input, textarea, select {
    background: variables.$white;
    border: 1px solid var(--whisper);
}
input, textarea, select, option {
    background-color: var(--silent);
    border-radius: var(--default-border-radius);
    box-shadow: 0 0 0;
    box-sizing: border-box;
    color: var(--loud);
    font-family: var(--sans-font);
    font-size: 1rem;
    padding: 1rem;
}
select, option {
    padding: 0.5rem;
}
select {
    appearance: none;
    background-color: var(--silent);
    padding-inline-end: 2rem;
    @include lib.caret($direction: down, $inline-offset: 0.75rem);
}
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=search],
input[type=number],
input[type=color],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
{
    border-color: var(--hushed);
    border-radius: var(--default-border-radius);
    border-width: var(--default-border-width);
    color: var(--loud);
    padding: 0.3333rem;
    &::placeholder {
        color: var(--hushed);
    }
}
input[type=color] {
    padding: 1px;
    height: 2rem;
    width: 2rem;
}
input[type=range] {
    -webkit-appearance: none; 
    width: 100%;  // ff?
    background: var(--silent); // for chrome
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid var(--hushed);
        height: 1rem;
        width: 1rem;
        border-radius: 100%;
        background: var(--whisper);
        margin-top: 0;
    }
    &::-moz-range-thumb {
    }
    &::-ms-thumb {
        width: 100%;
        cursor: pointer;
        background: transparent; 
        border-color: transparent;
        color: transparent;
    }
}
input[type=submit] {
    @include lib.buttonish(var(--info), white);
}
input[type=button] {
    @include lib.buttonish(var(--hushed), white);
}
input[type=reset] {
    @include lib.buttonish(white, var(--danger));
}
input[type=checkbox],
input[type=radio] {
    padding: 0.5rem;
    &:checked {
        background: var(--loud);
        border-color: var(--loud);
        box-shadow: inset 0 0 0 2px var(--silent);
    }
}
input[type=radio] {
    border-radius: 100%;
}
*[title='Required'], .required {
    color: var(--danger);
}

// form helper classes
.field-container:not(:last-child) {
    margin-block-end: 1rem;
}
.is-error {
    border: 2px solid var(--danger) !important;
    &::placeholder {
        color: var(--danger);
    }
}
label.error {
    color: var(--danger);
}
.is-valid {
    border: 2px solid var(--success) !important;
    &::placeholder {
        color: var(--success);
    }
}
label.valid {
    color: var(--success);
}
.options { // fieldsets containing checkboxes & radio boxes
    label {
        font-weight: var(--normal-weight);
    }
}

