// # Functions # //

// # Mixins # //
@mixin font-size($delta: 1) {
  // translates px font sizes to rems (Relative Ems)
  // $delta can be either a proper delta (i.e. a fractional value of the base font size) or a fixed size in px in which case it will calculate the proper delta against the base font size
  $rem-size: ($base-font-size / 16px) * 1rem; // find multiplier for rems based on $base-font-size
  @if unitless($delta) {
    $delta: $delta;
  } @else {
    $delta: $delta / $base-font-size;
  }
  font-size: $delta * $base-font-size; // fallback to px for older browsers
  font-size: $delta * $rem-size;
  @include breakpoint(max-width $desktop) {
    font-size: $delta * $base-font-size * .9; // fallback to px for older browsers
    font-size: $delta * $rem-size * .9;
  }
}

@mixin vspace($delta: 1, $top: false) {
  margin-bottom: $vgutter * $delta;
  @if ($top) {
    margin-top: $vgutter * $delta;
  }
}
@mixin vpadding($delta: 1) {
  padding-top: $vgutter * $delta;
  padding-bottom: $vgutter * $delta;
}
@mixin hspace($delta: 1) {
  margin-left: $hgutter * $delta;
  margin-right: $hgutter * $delta;
}
@mixin make-button($link: $gray-7) {
  padding: ($vgutter/2) $hgutter;
  background: $link;
  color: $white;
  text-decoration: none;
  border: none;
  &:hover {
    opacity: 0.8;
  }
  display: inline-block;
}
@mixin bigheader() {
  @include vspace(2, top);
  line-height: 1;
  font-weight: $light-weight;
}
@mixin mediumheader() {
  margin-bottom: 0;
  font-weight: $bold-weight;
}
@mixin weeheader() {
  margin-bottom: 0;
  font-weight: $normal-weight;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// ## Temporary mixins to overload mixins missing from compass-mixins ## //

@mixin input-placeholder {
  // used in _base.scss
  // replaces compass/css/user-interface/input-placeholder()
  &::-webkit-input-placeholder  {
    @content;
  }
  &:-moz-placeholder {
    @content;
    opacity: 1;
  }
  &::-moz-placeholder {
    @content;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    @content;
  }
}


// # Pseudoclasses # //
// Don’t use pseudoclasses, use @mixins
