@mixin breakpoint($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin make-button($background-color: var(--hushed), $link-color: var(--white)) {
    background-color: $background-color;
    border: none;
    color: $link-color;
    display: inline-block;
    font-weight: var(--bold-weight);
    padding: 0.5rem 1rem;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: var(--default-transition);
    }
}

@mixin container($width) {
    clear: both;
    content: " ";
    display: block;
    margin-inline-end: auto;
    margin-inline-start: auto;
    max-width: $width;
}

@mixin color-selectors($map) {
    @each $name, $color in $map {
        .bg-#{$name} {
            background: var(--#{$name});
        }
        .fg-#{$name} {
            color: var(--#{$name});
        }
    }
}
