// # Functions # //

// # Mixins # //

@mixin make-button($link: $gray-7) {
    background-color: $link;
    border: none;
    color: $white;
    display: inline-block;
    padding: ($vgutter * 0.5) $hgutter;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
        @include transition(all 0.2s ease-out);
        cursor: pointer;
    }
}
@mixin bigheader() {
    font-weight: $light-weight;
    line-height: 1;
    margin-bottom: $vgutter * 2;
    margin-top: $vgutter * 2;
}
@mixin mediumheader() {
    font-weight: $bold-weight;
    margin-bottom: 0;
}
@mixin weeheader() {
    font-weight: $normal-weight;
    margin-bottom: 0;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}
@mixin color-selectors($map) {
    @each $name, $color in $map {
        .bg-#{$name} {
            background: $color;
        }
        .fg-#{$name} {
            color: $color;
        }
    }
}

// ## Mixins previously provided by compass-mixins ## //

@mixin input-placeholder {
    // used in _base.scss
    // replaces compass/css/user-interface/input-placeholder()
    &::-webkit-input-placeholder    {
        @content;
    }
    &:-moz-placeholder {
        opacity: 1;
        @content;
    }
    &::-moz-placeholder {
        opacity: 1;
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}


// ## Mixins previously provided by Susy

@mixin transition($transition) {
    transition: $transition; 
}

@mixin container($width) {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
    content: " ";
    display: block;
    clear: both;
}

// # Pseudoclasses # //
// Don’t use pseudoclasses, use @mixins
