// # Regions # //

// # Layout # //
.row {
    &__inner {
        padding: 0 $hgutter;
        @include breakpoint($desktop) {
            @include container($desktop);
            padding: 0 0;
        }
    }
}
.clearfix {
    @include clearfix();
}

.styleguide-color {
    background-color: $black;
    color: white;
    margin-bottom: 2px;
    padding-bottom: $vgutter * 0.25;
    padding-left: $vgutter * 0.25;
    padding-right: $vgutter * 0.25;
    padding-top: $vgutter * 0.25;
    width: 50%;
}


// # Modules/Components # //

// # State # //

// ## Colors ## //
@include color-selectors($color-primitives);
@include color-selectors($gray-primitives);
@include color-selectors($abstract-colors);
//  
// # Custom # //

// # Unsorted # //
