//  layout
div[role='document'] {
    max-width: var(--large-width);
    margin-inline: auto;
    padding-inline: 1rem;
    @include breakpoint(calc($large-width + 2rem)) {
        padding-inline: 0;
    }
    // styleguide page elements
    & > aside {
        font-size: 85%;
        margin-block: 1rem;
        text-align: end;
    }
    & > footer {
        border-block-start: var(--default-border-width) solid var(--whisper);
        font-size: 85%;
        margin-block: 1rem;
        padding-block-start: 1rem;
    }
    & > main {
        & > nav {
            menu {
                display: flex;
                flex-wrap: wrap;
                margin-inline: 0;
            }
            li {
                margin-inline-end: 0.5rem;
            }
        }
        & > section {
            border-block-start: var(--default-border-width) solid var(--whisper);
            margin-block-end: 3rem;
        }
    }
}

// colors
@each $name, $color in $color-primitives {
    .bg-#{$name} {
        background: var(--#{$name});
    }
    .fg-#{$name} {
        color: var(--#{$name});
    }
}
@each $name, $color in $gray-primitives {
    .bg-#{$name} {
        background: var(--#{$name});
    }
    .fg-#{$name} {
        color: var(--#{$name});
    }
}
@each $name in $abstract-colors {
    .bg-#{$name} {
        background: var(--#{$name});
    }
    .fg-#{$name} {
        color: var(--#{$name});
    }
}
.styleguide-color {
    background-color: var(--black);
    color: var(--white);
    margin-block-end: 0.125rem;
    padding: 0.25rem;
    width: 50%;
}

// Buttons
a.button {
    @include buttonish(var(--info), white);
}
a.button-hot {
    @include buttonish(var(--emphasis), white);
}
a.button-cool {
    @include buttonish(var(--hushed), white);
}

// images
.responsive-image {
    display: block;
    margin-inline: auto;
    max-width: 100%;
}

// unsorted
.text-align-end {
    text-align: end;
}
.nowrap {
    white-space: nowrap;
}
