// this file contains only SASS variables
// CSS variables incl. color abstractions are declared at the top of _base.scss

// Color primitives
$red:     hsl(355,100%,40%); // #cc0011
$orange:  hsl(24,100%,45%);  // #e65c00
$yellow:  hsl(50,93%,53%);   // #f7d118
$sage:    hsl(70,80%,70%);   // #dbf075;
$green:   hsl(90,100%,32%);  // #7da300
$forest:  hsl(120,95%,17%);  // #025502
$teal:    hsl(169,97%,36%);  // #03b594
$sky:     hsl(185,85%,70%);  // #71e9f4
$blue:    hsl(204,82%,45%);  // #1586d1
$navy:    hsl(210,90%,25%);  // #064079
$purple:  hsl(256,52%,56%);  // #7454c9
$pink:    hsl(315,72%,56%);  // #e03eb7
$brown:   hsl(28, 54%,35%);  // #8b572a

// Grays
$gray-hue: 0;
$gray-saturation: 0%;
$black:     hsl($gray-hue, $gray-saturation, 0%);   // #000000
$gray-1:    hsl($gray-hue, $gray-saturation, 10%);  // #1a1a1a
$gray-2:    hsl($gray-hue, $gray-saturation, 20%);  // #333333
$gray-3:    hsl($gray-hue, $gray-saturation, 30%);  // #4d4d4d
$gray-4:    hsl($gray-hue, $gray-saturation, 40%);  // #666666
$gray-5:    hsl($gray-hue, $gray-saturation, 50%);  // #808080
$gray-6:    hsl($gray-hue, $gray-saturation, 60%);  // #999999
$gray-7:    hsl($gray-hue, $gray-saturation, 70%);  // #b3b3b3
$gray-8:    hsl($gray-hue, $gray-saturation, 80%);  // #cccccc
$gray-9:    hsl($gray-hue, $gray-saturation, 90%);  // #e6e6e6
$gray-95:   hsl($gray-hue, $gray-saturation, 95%);  // #f2f2f2
$white:     hsl($gray-hue, $gray-saturation, 100%); // #ffffff


// color maps
$color-primitives: (
    'red':      $red,
    'orange':   $orange,
    'brown':    $brown,
    'yellow':   $yellow,
    'sage':     $sage,
    'green':    $green,
    'forest':   $forest,
    'teal':     $teal,
    'sky':      $sky,
    'blue':     $blue,
    'navy':     $navy,
    'purple':   $purple,
    'pink':     $pink,
);

$gray-primitives: (
    'black':    $black,
    'gray-1':   $gray-1,
    'gray-2':   $gray-2,
    'gray-3':   $gray-3,
    'gray-4':   $gray-4,
    'gray-5':   $gray-5,
    'gray-6':   $gray-6,
    'gray-7':   $gray-7,
    'gray-8':   $gray-8,
    'gray-9':   $gray-9,
    'gray-95':  $gray-95,
    'white':    $white,
);

// color abstractions are repeated & mapped to values in the html elements of _base.scss
$abstract-colors-light: (
    'loud':             $black,
    'sottovoce':        $gray-4,
    'hushed':           $gray-6,
    'whisper':          $gray-8,
    'quiet':            $gray-9,
    'silent':           $white,
    'emphasis':         $pink,
    'danger':           $red,
    'warning':          $orange,
    'success':          $green,
    'info':             $blue,
    'highlight':        $yellow,
    'hero':             $teal,
    'link-unvisited':   $blue,
    'link-visited':     $purple,
    'link-hover':       $red,
    'link-active':      $green,
);

$abstract-colors-dark: (
    'loud':             $white,
    'sottovoce':        $gray-6,
    'hushed':           $gray-5,
    'whisper':          $gray-4,
    'quiet':            $gray-3,
    'silent':           $black,
    'emphasis':         $pink,
    'danger':           $red,
    'warning':          $orange,
    'success':          $green,
    'info':             $blue,
    'highlight':        $yellow,
    'hero':             $teal,
    'link-unvisited':   $blue,
    'link-visited':     $purple,
    'link-hover':       $red,
    'link-active':      $green,
);

// Misc. Appearance 
$border-radius: 0;
$border-width: 1px;
$transition: all 0.2s ease-out;

// Fonts
$default-font: sans-serif;
$monospace-font: monospace;
$bold-weight: 700;
$normal-weight: 400;
$light-weight: 300;
$base-font-size: 15px; // for mobile, in px
$desktop-font-size: 16px; // for desktop, in px
$base-line-height: 1.5; // unitless

// Breakpoints
$desktop:   960px;
$tablet:    800px;
$mobile:    600px;

