html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

html {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  --red: hsl(355deg, 100%, 40%);
  --orange: hsl(24deg, 100%, 45%);
  --brown: hsl(28deg, 54%, 35%);
  --yellow: hsl(50deg, 93%, 53%);
  --sage: hsl(70deg, 80%, 70%);
  --green: hsl(90deg, 100%, 32%);
  --forest: hsl(120deg, 95%, 17%);
  --teal: hsl(169deg, 97%, 36%);
  --sky: hsl(185deg, 85%, 70%);
  --blue: hsl(204deg, 82%, 45%);
  --navy: hsl(210deg, 90%, 25%);
  --purple: hsl(256deg, 52%, 56%);
  --pink: hsl(315deg, 72%, 56%);
  --black: hsl(0deg, 0%, 0%);
  --gray-1: hsl(0deg, 0%, 10%);
  --gray-2: hsl(0deg, 0%, 20%);
  --gray-3: hsl(0deg, 0%, 30%);
  --gray-4: hsl(0deg, 0%, 40%);
  --gray-5: hsl(0deg, 0%, 50%);
  --gray-6: hsl(0deg, 0%, 60%);
  --gray-7: hsl(0deg, 0%, 70%);
  --gray-8: hsl(0deg, 0%, 80%);
  --gray-9: hsl(0deg, 0%, 90%);
  --gray-95: hsl(0deg, 0%, 95%);
  --white: hsl(0deg, 0%, 100%);
  --background-color: hsl(0deg, 0%, 100%);
  --body-color: hsl(0deg, 0%, 20%);
  --sottovoce: hsl(0deg, 0%, 40%);
  --hushed: hsl(0deg, 0%, 60%);
  --whisper: hsl(0deg, 0%, 80%);
  --quiet: hsl(0deg, 0%, 90%);
  --silent: hsl(0deg, 0%, 95%);
  --emphasis: hsl(315deg, 72%, 56%);
  --danger: hsl(355deg, 100%, 40%);
  --warning: hsl(24deg, 100%, 45%);
  --success: hsl(90deg, 100%, 32%);
  --info: hsl(204deg, 82%, 45%);
  --highlight: #fcefab;
  --hero: hsl(169deg, 97%, 36%);
  --link-unvisited: hsl(204deg, 82%, 45%);
  --link-visited: hsl(256deg, 52%, 56%);
  --link-hover: hsl(355deg, 100%, 40%);
  --link-active: hsl(50deg, 93%, 53%);
}
@media (min-width: 600px) {
  html {
    font-size: 15px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: hsl(0deg, 0%, 10%);
    --body-color: hsl(0deg, 0%, 90%);
    --sottovoce: hsl(0deg, 0%, 60%);
    --hushed: hsl(0deg, 0%, 50%);
    --whisper: hsl(0deg, 0%, 40%);
    --quiet: hsl(0deg, 0%, 30%);
    --silent: hsl(0deg, 0%, 20%);
    --emphasis: hsl(315deg, 72%, 56%);
    --danger: hsl(355deg, 100%, 40%);
    --warning: hsl(24deg, 100%, 45%);
    --success: hsl(90deg, 100%, 32%);
    --info: hsl(204deg, 82%, 45%);
    --highlight: #fcefab;
    --hero: hsl(169deg, 97%, 36%);
    --link-unvisited: hsl(204deg, 82%, 45%);
    --link-visited: hsl(256deg, 52%, 56%);
    --link-hover: hsl(355deg, 100%, 40%);
    --link-active: hsl(50deg, 93%, 53%);
  }
}
section, aside, div, article, footer, header, nav, address {
  display: block;
}

body {
  background-color: var(--background-color);
  color: var(--body-color);
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

h1 {
  font-weight: 300;
  line-height: 1;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 4rem;
}

h2 {
  font-weight: 300;
  line-height: 1;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 3rem;
}

h3 {
  font-weight: 300;
  line-height: 1;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
}

h4 {
  font-weight: 700;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0;
}

h6 {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0;
}

hgroup {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}

blockquote {
  border-color: var(--whisper);
  border-style: solid;
  border-width: 1px 0;
  font-style: italic;
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-right: 3rem;
  padding: 1rem 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}

hr {
  border-color: var(--whisper);
  border-style: solid;
  border-width: 0 0 1 0;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 0;
  width: 50%;
}

a:link {
  color: var(--link-unvisited);
  text-decoration: underline;
}
a:visited {
  color: var(--link-visited);
}
a:hover {
  color: var(--link-hover);
  transition: all 0.2s ease-out;
}
a:active {
  color: var(--link-active);
}

h1 a, h1 a:link, h1 a:visited, h2 a, h2 a:link, h2 a:visited, h3 a, h3 a:link, h3 a:visited, h4 a, h4 a:link, h4 a:visited, h5 a, h5 a:link, h5 a:visited, h6 a, h6 a:link, h6 a:visited {
  color: inherit;
  text-decoration: none;
}

a.button {
  background-color: var(--link-unvisited);
  border: none;
  color: var(--background-color);
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
a.button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

a.button-hot {
  background-color: var(--emphasis);
  border: none;
  color: var(--background-color);
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
a.button-hot:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

a.button-cool {
  background-color: var(--hushed);
  border: none;
  color: var(--background-color);
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
a.button-cool:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

strong, b, dfn, var {
  font-weight: 700;
}

em, i, cite, q {
  font-style: italic;
}

u, ins {
  text-decoration: underline;
}

del, s {
  text-decoration: line-through;
}

small, sup, sub {
  font-size: 0.7rem;
}

big {
  font-size: 1.4rem;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

kbd, code, samp {
  font-family: "Cousine", monospace;
}

mark {
  background: var(--highlight);
}

ul, ol {
  margin-bottom: 1rem;
  margin-left: 3rem;
}
ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

table {
  border: 1px solid var(--hushed);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

tr {
  border-bottom: 1px solid var(--whisper);
}

td, th {
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: 700;
}

thead, tfoot {
  background-color: var(--silent);
}

.responsive-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

form ul {
  list-style-type: none;
  margin: 0;
}

fieldset {
  background-color: var(--silent);
  border: 1px solid var(--whisper);
  display: block;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0.5rem;
}

legend {
  font-weight: 700;
  padding: 0 0.5rem;
  margin-left: 1rem;
}

label {
  display: block;
  font-weight: 700;
}

.field-container {
  margin-bottom: 0.5rem;
}

input {
  border: 1px solid var(--whisper);
  background: hsl(0deg, 0%, 100%);
}

input, textarea, select, option {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  padding: 1rem 1rem;
  color: var(--body-color);
  background-color: var(--background-color);
  border-radius: 0;
  box-shadow: 0 0 0;
  box-sizing: border-box;
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=search],
input[type=number],
input[type=color],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local] {
  border-color: var(--whisper);
  border-radius: 0;
  border-width: 1;
  color: var(--body-color);
  padding: 0.3333333333rem;
  width: 90%;
}
@media (min-width: 960px) {
  input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=search],
input[type=number],
input[type=color],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local] {
    max-width: 50%;
  }
}
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=color]::-webkit-input-placeholder,
input[type=date]::-webkit-input-placeholder,
input[type=month]::-webkit-input-placeholder,
input[type=week]::-webkit-input-placeholder,
input[type=datetime]::-webkit-input-placeholder,
input[type=datetime-local]::-webkit-input-placeholder {
  color: var(--hushed);
}
input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=url]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=number]:-moz-placeholder,
input[type=color]:-moz-placeholder,
input[type=date]:-moz-placeholder,
input[type=month]:-moz-placeholder,
input[type=week]:-moz-placeholder,
input[type=datetime]:-moz-placeholder,
input[type=datetime-local]:-moz-placeholder {
  opacity: 1;
  color: var(--hushed);
}
input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=color]::-moz-placeholder,
input[type=date]::-moz-placeholder,
input[type=month]::-moz-placeholder,
input[type=week]::-moz-placeholder,
input[type=datetime]::-moz-placeholder,
input[type=datetime-local]::-moz-placeholder {
  opacity: 1;
  color: var(--hushed);
}
input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=color]:-ms-input-placeholder,
input[type=date]:-ms-input-placeholder,
input[type=month]:-ms-input-placeholder,
input[type=week]:-ms-input-placeholder,
input[type=datetime]:-ms-input-placeholder,
input[type=datetime-local]:-ms-input-placeholder {
  color: var(--hushed);
}

input[type=submit], input[type=button], input[type=reset], button {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  font-size: 1rem;
  background-color: var(--hushed);
  border: none;
  color: var(--background-color);
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

input[type=submit] {
  background-color: var(--link-unvisited);
}

input[type=reset] {
  background-color: var(--whisper);
}

*[title=Required], .required {
  color: var(--danger);
}

.is-error {
  border: 2px solid var(--danger);
}
.is-error::-webkit-input-placeholder {
  color: var(--danger);
}
.is-error:-moz-placeholder {
  opacity: 1;
  color: var(--danger);
}
.is-error::-moz-placeholder {
  opacity: 1;
  color: var(--danger);
}
.is-error:-ms-input-placeholder {
  color: var(--danger);
}

label.error {
  color: var(--danger);
}

.is-valid {
  border: 2px solid var(--success);
}
.is-valid::-webkit-input-placeholder {
  color: var(--success);
}
.is-valid:-moz-placeholder {
  opacity: 1;
  color: var(--success);
}
.is-valid::-moz-placeholder {
  opacity: 1;
  color: var(--success);
}
.is-valid:-ms-input-placeholder {
  color: var(--success);
}

label.valid {
  color: var(--success);
}

.options label {
  font-weight: 400;
}

.row__inner {
  padding: 0 1rem;
}
@media (min-width: 960px) {
  .row__inner {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    content: " ";
    display: block;
    clear: both;
    padding: 0 0;
  }
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.styleguide-color {
  background-color: hsl(0deg, 0%, 0%);
  color: white;
  margin-bottom: 2px;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  width: 50%;
}

.bg-red {
  background: var(--red);
}

.fg-red {
  color: var(--red);
}

.bg-orange {
  background: var(--orange);
}

.fg-orange {
  color: var(--orange);
}

.bg-brown {
  background: var(--brown);
}

.fg-brown {
  color: var(--brown);
}

.bg-yellow {
  background: var(--yellow);
}

.fg-yellow {
  color: var(--yellow);
}

.bg-sage {
  background: var(--sage);
}

.fg-sage {
  color: var(--sage);
}

.bg-green {
  background: var(--green);
}

.fg-green {
  color: var(--green);
}

.bg-forest {
  background: var(--forest);
}

.fg-forest {
  color: var(--forest);
}

.bg-teal {
  background: var(--teal);
}

.fg-teal {
  color: var(--teal);
}

.bg-sky {
  background: var(--sky);
}

.fg-sky {
  color: var(--sky);
}

.bg-blue {
  background: var(--blue);
}

.fg-blue {
  color: var(--blue);
}

.bg-navy {
  background: var(--navy);
}

.fg-navy {
  color: var(--navy);
}

.bg-purple {
  background: var(--purple);
}

.fg-purple {
  color: var(--purple);
}

.bg-pink {
  background: var(--pink);
}

.fg-pink {
  color: var(--pink);
}

.bg-black {
  background: var(--black);
}

.fg-black {
  color: var(--black);
}

.bg-gray-1 {
  background: var(--gray-1);
}

.fg-gray-1 {
  color: var(--gray-1);
}

.bg-gray-2 {
  background: var(--gray-2);
}

.fg-gray-2 {
  color: var(--gray-2);
}

.bg-gray-3 {
  background: var(--gray-3);
}

.fg-gray-3 {
  color: var(--gray-3);
}

.bg-gray-4 {
  background: var(--gray-4);
}

.fg-gray-4 {
  color: var(--gray-4);
}

.bg-gray-5 {
  background: var(--gray-5);
}

.fg-gray-5 {
  color: var(--gray-5);
}

.bg-gray-6 {
  background: var(--gray-6);
}

.fg-gray-6 {
  color: var(--gray-6);
}

.bg-gray-7 {
  background: var(--gray-7);
}

.fg-gray-7 {
  color: var(--gray-7);
}

.bg-gray-8 {
  background: var(--gray-8);
}

.fg-gray-8 {
  color: var(--gray-8);
}

.bg-gray-9 {
  background: var(--gray-9);
}

.fg-gray-9 {
  color: var(--gray-9);
}

.bg-gray-95 {
  background: var(--gray-95);
}

.fg-gray-95 {
  color: var(--gray-95);
}

.bg-white {
  background: var(--white);
}

.fg-white {
  color: var(--white);
}

.bg-background-color {
  background: var(--background-color);
}

.fg-background-color {
  color: var(--background-color);
}

.bg-body-color {
  background: var(--body-color);
}

.fg-body-color {
  color: var(--body-color);
}

.bg-sottovoce {
  background: var(--sottovoce);
}

.fg-sottovoce {
  color: var(--sottovoce);
}

.bg-hushed {
  background: var(--hushed);
}

.fg-hushed {
  color: var(--hushed);
}

.bg-whisper {
  background: var(--whisper);
}

.fg-whisper {
  color: var(--whisper);
}

.bg-quiet {
  background: var(--quiet);
}

.fg-quiet {
  color: var(--quiet);
}

.bg-silent {
  background: var(--silent);
}

.fg-silent {
  color: var(--silent);
}

.bg-emphasis {
  background: var(--emphasis);
}

.fg-emphasis {
  color: var(--emphasis);
}

.bg-danger {
  background: var(--danger);
}

.fg-danger {
  color: var(--danger);
}

.bg-warning {
  background: var(--warning);
}

.fg-warning {
  color: var(--warning);
}

.bg-success {
  background: var(--success);
}

.fg-success {
  color: var(--success);
}

.bg-info {
  background: var(--info);
}

.fg-info {
  color: var(--info);
}

.bg-highlight {
  background: var(--highlight);
}

.fg-highlight {
  color: var(--highlight);
}

.bg-hero {
  background: var(--hero);
}

.fg-hero {
  color: var(--hero);
}

/*# sourceMappingURL=screen.css.map */
