@charset "UTF-8";
/***
    The new CSS reset - version 1.9 (last updated 19.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

html {
  --loud: hsl(0, 0%, 0%);
  --spoken: hsl(0, 0%, 0%);
  --soft: hsl(0, 0%, 40%);
  --hushed: hsl(0, 0%, 60%);
  --breathy: hsl(0, 0%, 60%);
  --whisper: hsl(0, 0%, 80%);
  --quiet: hsl(0, 0%, 90%);
  --silent: hsl(0, 0%, 100%);
  --emphasis: hsl(315, 72%, 56%);
  --danger: hsl(355, 100%, 40%);
  --warning: hsl(24, 100%, 45%);
  --success: hsl(90, 100%, 32%);
  --info: hsl(204, 82%, 45%);
  --highlight: hsl(50, 93%, 53%);
  --hero: hsl(315, 72%, 56%);
  --strange: hsl(256, 52%, 56%);
  --red: hsl(355, 100%, 40%);
  --orange: hsl(24, 100%, 45%);
  --brown: hsl(28, 54%, 35%);
  --yellow: hsl(50, 93%, 53%);
  --sage: hsl(70, 80%, 70%);
  --green: hsl(90, 100%, 32%);
  --forest: hsl(120, 95%, 17%);
  --teal: hsl(169, 97%, 36%);
  --sky: hsl(185, 85%, 70%);
  --blue: hsl(204, 82%, 45%);
  --navy: hsl(210, 90%, 25%);
  --purple: hsl(256, 52%, 56%);
  --pink: hsl(315, 72%, 56%);
  --gray-0: hsl(0, 0%, 0%);
  --gray-1: hsl(0, 0%, 10%);
  --gray-2: hsl(0, 0%, 20%);
  --gray-3: hsl(0, 0%, 30%);
  --gray-4: hsl(0, 0%, 40%);
  --gray-5: hsl(0, 0%, 50%);
  --gray-6: hsl(0, 0%, 60%);
  --gray-7: hsl(0, 0%, 70%);
  --gray-8: hsl(0, 0%, 80%);
  --gray-9: hsl(0, 0%, 90%);
  --gray-95: hsl(0, 0%, 95%);
  --gray-100: hsl(0, 0%, 100%);
  --sans-font: sans-serif;
  --monospace-font: monospace;
  --default-font-size: 16px;
  --bold-weight: 700;
  --regular-weight: 400;
  --light-weight: 300;
  --oblique-style: italic;
  --default-line-height: 1.5;
  --compact-line-height: 1.25;
  --x-large-width: 1440px;
  --large-width: 960px;
  --medium-width: 800px;
  --small-width: 600px;
  --x-small-width: 480px;
  --default-transition: 0.2s all ease-in-out;
  --default-border-radius: 0.25rem;
  --default-border-width: 1px;
  font-size: var(--default-font-size);
  scroll-behavior: smooth;
}
@media (min-width: 600px) {
  html {
    font-size: calc(var(--default-font-size) * 1.1);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --loud: hsl(0, 0%, 100%);
    --spoken: hsl(0, 0%, 100%);
    --soft: hsl(0, 0%, 70%);
    --hushed: hsl(0, 0%, 50%);
    --breathy: hsl(0, 0%, 50%);
    --whisper: hsl(0, 0%, 40%);
    --quiet: hsl(0, 0%, 20%);
    --silent: hsl(0, 0%, 0%);
    --emphasis: hsl(315, 72%, 56%);
    --danger: hsl(355, 100%, 40%);
    --warning: hsl(24, 100%, 45%);
    --success: hsl(90, 100%, 32%);
    --info: hsl(204, 82%, 45%);
    --highlight: hsl(50, 93%, 53%);
    --hero: hsl(315, 72%, 56%);
    --strange: hsl(256, 52%, 56%);
  }
}
*:focus, *:focus-visible {
  outline-color: var(--whisper);
  outline-style: solid;
  outline-width: 2px;
}

body {
  background-color: var(--silent);
  color: var(--loud);
  font-family: var(--sans-font);
  line-height: var(--default-line-height);
  font-size: 1rem;
}

address, article, aside, div, footer, header, main, nav, search, section {
  display: block;
}

details {
  border: 1px solid var(--whisper);
  border-radius: var(--default-border-radius);
  margin-block: 2rem;
  padding: 1rem;
}

summary {
  font-weight: var(--bold-weight);
  transition: margin 150ms ease-in-out;
}
summary:before {
  content: "";
  display: inline-block;
  height: 0.75rem;
  line-height: 1;
  margin-inline-end: 0.5rem;
  width: 0.75rem;
  background-repeat: no-repeat;
  background-size: 0.375rem 0.375rem, 0.375rem 0.375rem;
  background-image: linear-gradient(45deg, var(--loud) 50%, transparent 50%), linear-gradient(135deg, var(--loud) 50%, transparent 50%);
  background-position: right 0.125rem top 0, right 0.125rem top 0.375rem;
}
details[open] > summary {
  margin-block-end: 1rem;
}
details[open] > summary:before {
  background-repeat: no-repeat;
  background-size: 0.375rem 0.375rem, 0.375rem 0.375rem;
  background-image: linear-gradient(225deg, var(--loud) 50%, transparent 50%), linear-gradient(135deg, var(--loud) 50%, transparent 50%);
  background-position: right 0.375rem top 0.25rem, right 0 top 0.25rem;
}
summary::-webkit-details-marker, summary::marker {
  content: none;
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--bold-weight);
  margin-block: 1rem;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: inherit;
  font-weight: var(--light-weight);
}
h1 a, h1 a:link, h1 a:visited, h2 a, h2 a:link, h2 a:visited, h3 a, h3 a:link, h3 a:visited, h4 a, h4 a:link, h4 a:visited, h5 a, h5 a:link, h5 a:visited, h6 a, h6 a:link, h6 a:visited {
  color: inherit;
}

h1, h2, h3 {
  line-height: var(--compact-line-height);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-block-start: 1rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem;
}

p:not(:last-child) {
  margin-block-end: 1rem;
}

blockquote {
  background-color: var(--quiet);
  border-radius: var(--default-border-radius);
  font-style: var(--oblique-style);
  margin-block: 1rem;
  padding: 1rem;
}

pre {
  display: block;
  font-family: var(--monospace-font);
}

hr {
  border: none;
  border-bottom: 1px solid var(--hushed);
  margin-block: 1rem;
}

a:link {
  color: var(--info);
  text-decoration: underline;
}
a:visited {
  color: var(--strange);
}
a:hover {
  color: var(--hero);
  transition: var(--default-transition);
}
a:active {
  color: var(--success);
}

strong, b, dfn {
  font-weight: var(--bold-weight);
}

em, i, cite, q, var {
  font-style: var(--oblique-style);
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

ins {
  color: var(--success);
  text-decoration: underline;
}

del {
  color: var(--danger);
  text-decoration: line-through;
}

small, sup, sub {
  font-size: 80%;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

kbd, code, samp {
  font-family: var(--monospace-font);
}

mark {
  background: var(--highlight);
}

ul, ol {
  margin-block-end: 1rem;
  margin-block-start: 0;
  margin-inline-start: 2rem;
  padding-inline-start: 1rem;
}
ul ul, ul ol, ul menu, ol ul, ol ol, ol menu {
  margin-block-end: 0;
}

menu {
  margin-block-end: 1rem;
  margin-block-start: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
}

ol {
  counter-reset: revert;
  list-style-type: auto;
}

dl {
  margin-block-end: 1rem;
}

dt {
  font-weight: var(--bold-weight);
  margin-block-start: 2rem;
  margin-block-end: 0.5rem;
}

dd {
  margin-block-end: 1rem;
  margin-inline-start: 1rem;
}

table {
  border: 1px solid var(--hushed);
  margin-block: 2rem;
}
table.borderless, table.borderless tr {
  border-width: 0;
}

tr {
  border-block-end: 1px solid var(--whisper);
}

td, th {
  padding: 0.5rem;
  text-align: start;
  vertical-align: start;
}

th {
  font-weight: var(--bold-weight);
}

thead, tfoot {
  background-color: var(--quiet);
}

form ul {
  list-style-type: none;
  margin: 0;
}

fieldset {
  background-color: var(--quiet);
  border-radius: var(--default-border-radius);
  display: block;
  margin-block-end: 2rem;
  margin-block-start: 2rem;
  padding: 1rem;
}

legend {
  background-color: transparent;
  border: none;
  border-radius: var(--default-border-radius);
  font-weight: var(--bold-weight);
  margin-inline-start: 0;
  padding: 0.25rem 1rem;
}

label {
  display: block;
  font-weight: var(--bold-weight);
}

input, textarea, select {
  background: hsl(0, 0%, 100%);
  border: 1px solid var(--whisper);
}

input, textarea, select, option {
  background-color: var(--silent);
  border-radius: var(--default-border-radius);
  box-shadow: 0 0 0;
  box-sizing: border-box;
  color: var(--loud);
  font-family: var(--sans-font);
  font-size: 1rem;
  padding: 1rem;
}

select, option {
  padding: 0.5rem;
}

select {
  appearance: none;
  background-color: var(--silent);
  padding-inline-end: 2rem;
  background-repeat: no-repeat;
  background-size: 0.375rem 0.375rem, 0.375rem 0.375rem;
  background-image: linear-gradient(225deg, var(--loud) 50%, transparent 50%), linear-gradient(135deg, var(--loud) 50%, transparent 50%);
  background-position: right 1.125rem top 1rem, right 0.75rem top 1rem;
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=search],
input[type=number],
input[type=color],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local] {
  border-color: var(--hushed);
  border-radius: var(--default-border-radius);
  border-width: var(--default-border-width);
  color: var(--loud);
  padding: 0.3333rem;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=url]::placeholder,
input[type=email]::placeholder,
input[type=search]::placeholder,
input[type=number]::placeholder,
input[type=color]::placeholder,
input[type=range]::placeholder,
input[type=date]::placeholder,
input[type=month]::placeholder,
input[type=week]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder {
  color: var(--hushed);
}

input[type=color] {
  padding: 1px;
  height: 2rem;
  width: 2rem;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: var(--silent);
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--hushed);
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background: var(--whisper);
  margin-top: 0;
}
input[type=range]::-ms-thumb {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=submit] {
  background-color: var(--info);
  border: none;
  border-radius: var(--default-border-radius);
  color: white;
  display: inline-block;
  font-weight: var(--bold-weight);
  padding: 0.5rem 1rem;
  text-decoration: none;
}
input[type=submit]:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: var(--default-transition);
}

input[type=button] {
  background-color: var(--hushed);
  border: none;
  border-radius: var(--default-border-radius);
  color: white;
  display: inline-block;
  font-weight: var(--bold-weight);
  padding: 0.5rem 1rem;
  text-decoration: none;
}
input[type=button]:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: var(--default-transition);
}

input[type=reset] {
  background-color: white;
  border: none;
  border-radius: var(--default-border-radius);
  color: var(--danger);
  display: inline-block;
  font-weight: var(--bold-weight);
  padding: 0.5rem 1rem;
  text-decoration: none;
}
input[type=reset]:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: var(--default-transition);
}

input[type=checkbox],
input[type=radio] {
  padding: 0.5rem;
}
input[type=checkbox]:checked,
input[type=radio]:checked {
  background: var(--loud);
  border-color: var(--loud);
  box-shadow: inset 0 0 0 2px var(--silent);
}

input[type=radio] {
  border-radius: 100%;
}

*[title=Required], .required {
  color: var(--danger);
}

.field-container:not(:last-child) {
  margin-block-end: 1rem;
}

.is-error {
  border: 2px solid var(--danger) !important;
}
.is-error::placeholder {
  color: var(--danger);
}

label.error {
  color: var(--danger);
}

.is-valid {
  border: 2px solid var(--success) !important;
}
.is-valid::placeholder {
  color: var(--success);
}

label.valid {
  color: var(--success);
}

.options label {
  font-weight: var(--normal-weight);
}

div[role=document] {
  max-width: var(--large-width);
  margin-inline: auto;
  padding-inline: 1rem;
}
@media (min-width: calc(960px + 2rem)) {
  div[role=document] {
    padding-inline: 0;
  }
}
div[role=document] > aside {
  font-size: 85%;
  margin-block: 1rem;
  text-align: end;
}
div[role=document] > footer {
  border-block-start: var(--default-border-width) solid var(--whisper);
  font-size: 85%;
  margin-block: 1rem;
  padding-block-start: 1rem;
}
div[role=document] > main > nav menu {
  display: flex;
  flex-wrap: wrap;
  margin-inline: 0;
}
div[role=document] > main > nav li {
  margin-inline-end: 0.5rem;
}
div[role=document] > main > section {
  border-block-start: var(--default-border-width) solid var(--whisper);
  margin-block-end: 3rem;
}

.bg-red {
  background: var(--red);
}

.fg-red {
  color: var(--red);
}

.bg-orange {
  background: var(--orange);
}

.fg-orange {
  color: var(--orange);
}

.bg-brown {
  background: var(--brown);
}

.fg-brown {
  color: var(--brown);
}

.bg-yellow {
  background: var(--yellow);
}

.fg-yellow {
  color: var(--yellow);
}

.bg-sage {
  background: var(--sage);
}

.fg-sage {
  color: var(--sage);
}

.bg-green {
  background: var(--green);
}

.fg-green {
  color: var(--green);
}

.bg-forest {
  background: var(--forest);
}

.fg-forest {
  color: var(--forest);
}

.bg-teal {
  background: var(--teal);
}

.fg-teal {
  color: var(--teal);
}

.bg-sky {
  background: var(--sky);
}

.fg-sky {
  color: var(--sky);
}

.bg-blue {
  background: var(--blue);
}

.fg-blue {
  color: var(--blue);
}

.bg-navy {
  background: var(--navy);
}

.fg-navy {
  color: var(--navy);
}

.bg-purple {
  background: var(--purple);
}

.fg-purple {
  color: var(--purple);
}

.bg-pink {
  background: var(--pink);
}

.fg-pink {
  color: var(--pink);
}

.bg-gray-0 {
  background: var(--gray-0);
}

.fg-gray-0 {
  color: var(--gray-0);
}

.bg-gray-1 {
  background: var(--gray-1);
}

.fg-gray-1 {
  color: var(--gray-1);
}

.bg-gray-2 {
  background: var(--gray-2);
}

.fg-gray-2 {
  color: var(--gray-2);
}

.bg-gray-3 {
  background: var(--gray-3);
}

.fg-gray-3 {
  color: var(--gray-3);
}

.bg-gray-4 {
  background: var(--gray-4);
}

.fg-gray-4 {
  color: var(--gray-4);
}

.bg-gray-5 {
  background: var(--gray-5);
}

.fg-gray-5 {
  color: var(--gray-5);
}

.bg-gray-6 {
  background: var(--gray-6);
}

.fg-gray-6 {
  color: var(--gray-6);
}

.bg-gray-7 {
  background: var(--gray-7);
}

.fg-gray-7 {
  color: var(--gray-7);
}

.bg-gray-8 {
  background: var(--gray-8);
}

.fg-gray-8 {
  color: var(--gray-8);
}

.bg-gray-9 {
  background: var(--gray-9);
}

.fg-gray-9 {
  color: var(--gray-9);
}

.bg-gray-95 {
  background: var(--gray-95);
}

.fg-gray-95 {
  color: var(--gray-95);
}

.bg-gray-100 {
  background: var(--gray-100);
}

.fg-gray-100 {
  color: var(--gray-100);
}

.bg-loud {
  background: var(--loud);
}

.fg-loud {
  color: var(--loud);
}

.bg-spoken {
  background: var(--spoken);
}

.fg-spoken {
  color: var(--spoken);
}

.bg-soft {
  background: var(--soft);
}

.fg-soft {
  color: var(--soft);
}

.bg-hushed {
  background: var(--hushed);
}

.fg-hushed {
  color: var(--hushed);
}

.bg-breathy {
  background: var(--breathy);
}

.fg-breathy {
  color: var(--breathy);
}

.bg-whisper {
  background: var(--whisper);
}

.fg-whisper {
  color: var(--whisper);
}

.bg-quiet {
  background: var(--quiet);
}

.fg-quiet {
  color: var(--quiet);
}

.bg-silent {
  background: var(--silent);
}

.fg-silent {
  color: var(--silent);
}

.bg-emphasis {
  background: var(--emphasis);
}

.fg-emphasis {
  color: var(--emphasis);
}

.bg-danger {
  background: var(--danger);
}

.fg-danger {
  color: var(--danger);
}

.bg-warning {
  background: var(--warning);
}

.fg-warning {
  color: var(--warning);
}

.bg-success {
  background: var(--success);
}

.fg-success {
  color: var(--success);
}

.bg-info {
  background: var(--info);
}

.fg-info {
  color: var(--info);
}

.bg-highlight {
  background: var(--highlight);
}

.fg-highlight {
  color: var(--highlight);
}

.bg-hero {
  background: var(--hero);
}

.fg-hero {
  color: var(--hero);
}

.bg-strange {
  background: var(--strange);
}

.fg-strange {
  color: var(--strange);
}

.styleguide-color {
  background-color: var(--black);
  color: var(--white);
  margin-block-end: 0.125rem;
  padding: 0.25rem;
  width: 50%;
}

a.button {
  background-color: var(--info);
  border: none;
  border-radius: var(--default-border-radius);
  color: white;
  display: inline-block;
  font-weight: var(--bold-weight);
  padding: 0.5rem 1rem;
  text-decoration: none;
}
a.button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: var(--default-transition);
}

a.button-hot {
  background-color: var(--emphasis);
  border: none;
  border-radius: var(--default-border-radius);
  color: white;
  display: inline-block;
  font-weight: var(--bold-weight);
  padding: 0.5rem 1rem;
  text-decoration: none;
}
a.button-hot:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: var(--default-transition);
}

a.button-cool {
  background-color: var(--hushed);
  border: none;
  border-radius: var(--default-border-radius);
  color: white;
  display: inline-block;
  font-weight: var(--bold-weight);
  padding: 0.5rem 1rem;
  text-decoration: none;
}
a.button-cool:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: var(--default-transition);
}

.responsive-image {
  display: block;
  margin-inline: auto;
  max-width: 100%;
}

.text-align-end {
  text-align: end;
}

.nowrap {
  white-space: nowrap;
}

/*# sourceMappingURL=screen.css.map */
