<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8" />
        <meta http-equiv=Content-Type content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <style type=text/css>@import url("/static/css/screen.css");</style>
    </head>
    <body>
        <div id="top" role="document">
            <aside>
                <a href="https://github.com/axoplasm/skeletor"><em>View this project on GitHub</em></a>
            </aside>
            <main>
                {{ content }}
            </main>
            <footer>
                <p>HTML on this page adapted from <a href="http://github.com/cbracco/html5-test-page">@cbracco/html5-test-page</a>.</p>
            </footer>
        </div>
    </body>
</html>
